{% extends "base.html "%}

{% block content %}
    <section class="banner_area bdr">
    	<div class="container bdr">

    		<div class="row">

    			<div class="col-lg-12">
            <ul class="progressbar">
                <li class="">Upload image as zip</li>
                <li>Indentify Back images</li>
                <li>Upload your Excel file</li>
                <li>Indentify Excel fiel</li>
              </ul>
          </div>
        </div>
      </div>
    </section>

    <section>
    	<div class="container">
    		<div class="row">
          <div class="col-lg-12">
            <!-- <form action="/" method=post class="dropzone" enctype=multipart/form-data>
              <div class="fallback">
                <input name=file type=file />
              </div>
            </form> -->

            {{ dropzone.create(action='/testing') }}

            {{ dropzone.config() }}

            <a href="/continue"><div class="theme_btn" style="float:right;margin-top:15px">Continue</div></a>


        </div>
      </div>
</div>
</section>


    <section>
    	<div class="container">
    		<div class="row">
          <div class="col-lg-12">
            <div>
              <ul>
                {% for item in data %}
                <li>{{item}}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}
