{% extends "./base.html" %}

{% block content %}
<div class="container-fluid">

    		<div class="row">
    			<div class="col-lg-12">
            <ul class="progressbar">
                <li class="">Upload image as zip</li>
                <li>Upload your Excel file</li>
                <li>Indentify Excel fiel</li>
              </ul>
          </div>

          <div class="row">
            <div class="col-lg-12 content-creation">
              {% if alertmessage %}
              <div class="alert alert-warning mt-lg-1">
            <strong>Warning!</strong> No zip file found!?
            </div>
              {% endif %}


            <h1>Upload your image zip file to FTP</h1>

            <p>Click start when all images are uploaded..</p>

            <a href="/step2"><div class="theme_btn_large" style="font-size:20px;">START</div></a>
            <a href="{{ url_for('clean_everything') }}"><div class="theme_btn_large warning" style="font-size:20px;">CLEAN</div></a>
          </div>
            </div>

            {% for item in data %}
          <div class="row">
            <div class="col-lg-12">
              <ul>
              <li>{{item}}</li>

              </ul>
            </div>
          </div>
            {% endfor %}
        </div>


</div> <!-- end container fluid -->
{% endblock %}
