

{% extends "./base.html" %}

{% block content %}

  <!-- Header Area -->

    <section class="banner_area">
    	<div class="container bdr">

    		<div class="row">

    			<div class="col-lg-12">
            <ul class="progressbar">
                <li class="active">Upload image as zip</li>
                <li class="">Indentify Back images</li>
                <li>Upload your Excel file</li>
                <li>Indentify Excel file</li>
              </ul>
          </div>
        </div>
      </div>
    </section>


<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12" style="text-align:center">

        <form class="" action="/imagename" method="post">

          <label for="back_images">Please enter the indentifier for back images:</label>

          <input type="text" name="back_images" value="">
          <button type="submit" class="button" name="button">Save & continue</button>
        </form>
      </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-12" style="text-align:center">
        {% for item in data %}
      <li>{{item}}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>


    </div>
</div>




</section>

{% endblock %}
