

{% extends "./base.html" %}

{% block content %}

  <!-- Header Area -->

    <section class="banner_area">
    	<div class="container bdr">

    		<div class="row">

    			<div class="col-lg-12">
            <ul class="progressbar">
                <li class="active">Upload image as zip</li>
                <li class="">Indentify Back images</li>
                <li>Upload your Excel file</li>
                <li>Indentify Excel file</li>
              </ul>
          </div>
        </div>
      </div>
    </section>


<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12" style="text-align:center">

        <form class="" action="/imagename" method="post">
          <table>

          <tr>
          <td><label for="back_images">Indentifier for front images:</label></td>
          <td><input type="text" name="front_images" value=""></td>
          </tr>
          <tr>
          <td><label for="back_images">Indentifier for back images:</label></td>
          <td><input type="text" name="back_images" value=""></td>
          </tr>
          <tr>
          <td></td>
          <td><button type="submit" class="theme_btn" name="button">NEXT</button></td>
          </tr>
          </table>

        </form>
      </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h4>Description:</h4>
        <p>Indentify the images by a unique string or number. For example all back images have '_2' and front images '_1'.</p>

      </div>

    </div>

  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-12" style="text-align:center">
        {% for item in data %}
      <li>{{item}}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>


    </div>
</div>




</section>

{% endblock %}
