

{% extends "./base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}

  <!-- Header Area -->

    <section class="banner_area">
    	<div class="container bdr">

    		<div class="row">

    			<div class="col-lg-12">
            <ul class="progressbar">
                <li class="active">Upload image as zip</li>
                <li class="">Indentify Back images</li>
                <li>Upload your Excel file</li>
                <li>Indentify Excel file</li>
              </ul>
          </div>
        </div>
      </div>
    </section>


<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12" style="text-align:center">

        {% block body %}

        <form method="POST" action="/login">
          <h2>Please sign in</h2>
          {{ form.hidden_tag() }}
          {{ wtf.form_field(form.username) }}
          {{ wtf.form_field(form.password) }}
          {{ wtf.form_field(form.remember) }}
          <button type="submit" name="button">Sign in</button>
        </form>
        {% endblock %}






</section>

{% endblock %}
