{% extends "./base.html" %}

{% block content %}


<section class="banner_area">
  <div class="container bdr">

    <div class="row">

      <div class="col-lg-12">
        <ul class="progressbar">
            <li class="active">Upload image as zip</li>
            <li class="active">Indentify Back images</li>
            <li class="active">Upload your Excel file</li>
            <li>Indentify Excel file</li>
          </ul>
      </div>
    </div>
  </div>
</section>

<section>


<div class="container">
        <div class="row">
          <div class="col-lg-12">
          <h1>Upload your Excel file:</h1>

          <form method="post" action="/upload.html" enctype="multipart/form-data" id="my-awesome-dropzone">
                <input type="file" name="input_file" />
                <input type="submit" value="Process the file" />
            </form>
          </div>
        </div>
      </div>




<div class="container">
          <div class="row">
              <div class="col-lg-12">
            <h2>Preview of uploaded file:</h2>

            <div>
            {% for table in tables %}
               {{titles[loop.index]}}
               {{ table|safe }}
            {% endfor %}
            </div>
          </div>


          <div>

            {% for item in data %}
                <li>{{item | safe}}</li>
            {% endfor %}
        </div>
</div>
</div>


</section>

<section>



<div class="container">
  <div class="row">
    <div class="col-lg-12">

            <h2>Please give inputs:</h2>
            <p>GTIN:</p>
          <form class="form-inline" method="POST" action="/upload2.html">
          <div id="GTIN" style="margin-bottom:25px;">
          <label for="gtin_in">Choose GTIN:</label>
          <select name="gtin_in"  method="GET" action="/">
              {% for title in titles %}
              <option value="{{title}}" SELECTED>{{title}}</option>
              {% endfor %}
          </select>
          </div>

          <div>


          <label for="input_1">Choose SKU:</label>
          <select name="input_1"  method="GET" action="/">
              {% for title in titles %}
              <option value="{{title}}" SELECTED>{{title}}</option>
              {% endfor %}
          </select>

          <label for="input_2">Choose COLOR:</label>
          <select name="input_2"  method="GET" action="/">
              {% for title in titles %}
              <option value="{{title}}" SELECTED>{{title}}</option>
              {% endfor %}
          </select>

          <button type="submit" name="button">Save</button>
          </form>
          </div>

          <div>
              {% for item in images %}
                  <li>{{item}}</li>
              {% endfor %}

          </div>


</div>
</div>
</div>

</section>

{% endblock %}
