{% extends "./base.html" %}

{% block content %}


<section class="banner_area">
  <div class="container bdr">

    <div class="row">

      <div class="col-lg-12">
        <ul class="progressbar">
            <li class="active">Upload image as zip</li>
            <li class="active">Indentify Back images</li>
            <li class="active">Upload your Excel file</li>
            <li>Indentify Excel file</li>
          </ul>
      </div>
    </div>
  </div>
</section>

<section>


<div class="container">
        <div class="row">
          <div class="col-lg-12">
          <h1>Upload your Excel file:</h1>

          <form method="post" action="/upload.html" enctype="multipart/form-data" id="my-awesome-dropzone">
    <table>
      <tr>
          <td><label class="file">
            <input type="file" id="file" name="input_file" aria-label="File browser example">
            <span class="file-custom"></span>
          </label></td>



          <td><input type="submit" class="theme_btn" value="Upload" /></td>
    </tr>
</table>

        </form>

          <!-- <form method="post" action="/upload.html" enctype="multipart/form-data" id="my-awesome-dropzone">

                <input type="file" name="input_file" id="file" aria-label="File browser example" />
                <input type="submit" class="theme_btn" value="Process the file" />
            </form> -->
          </div>
        </div>
      </div>




<div class="container">

            <h2>Preview of uploaded file:</h2>

            <div style="overflow-x:auto;">
            {% for table in tables %}
               {{titles[loop.index]}}
               {{ table|safe }}
            {% endfor %}
            </div>



          <div style="overflow-x:auto;">

            {% for item in data %}
                <li>{{item | safe}}</li>
            {% endfor %}
        </div>
</div>



</section>

<section>



<div class="container">
  <div class="row">
    <div class="col-lg-12">

            <h2>Please give inputs:</h2>


<table style="width:100%">



          <form class="form-inline" method="POST" action="/upload2.html">
          <tr style="height:55px;">
          <div id="GTIN" style="margin-bottom:25px;">

          <td><label for="gtin_in">Choose GTIN:</label></td>
          <td><select class="select" name="gtin_in"  method="GET" action="/">
              {% for title in titles %}
              <option value="{{title}}" SELECTED>{{title}}</option>
              {% endfor %}
          </select></td>
          </div>
          </tr>

          <tr style="height:55px;">
          <div>
          <td><label for="input_1">Choose SKU:</label></td>
          <td><select name="input_1" class="select" method="GET" action="/">
              {% for title in titles %}
              <option value="{{title}}" SELECTED>{{title}}</option>
              {% endfor %}
          </select></td>
          </div>
          </tr>

          <tr style="height:55px;">
          <div>
          <td><label for="input_2">Choose COLOR:</label></td>
          <td><select name="input_2" class="select" method="GET" action="/">
              {% for title in titles %}
              <option value="{{title}}" SELECTED>{{title}}</option>
              {% endfor %}
          </select></td>
          </div>
          </tr>

          <tr>
          <div>
          <td></td>
          <td><button type="submit" class="theme_btn" name="button">Finalize</button></td>
          </div>
          </tr>
          </form>




</table>

          <div>
              {% for item in images %}
                  <li>{{item}}</li>
              {% endfor %}

          </div>


</div>
</div>
</div>


<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h4>Description:</h4>
      <p>Select the EAN (GTIN) and choose two attributes containing the name. After this the images will be checked and renamed. </p>

    </div>

  </div>

</div>

</section>

{% endblock %}
