<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="./static/images/logo.png" type="image/x-icon" />
    <!-- Theme tittle -->
    <title>Yop - Digital Business agency Multipurpose HTML Template</title>

    <!-- Theme style CSS -->
    <link href="./static/css/style.css" rel="stylesheet">
    <link href="./static/css/docs.css" rel="stylesheet">
    <link href="./static/css/wtf-forms.css" rel="stylesheet">
    <link href="./static/css/basic.css" rel="stylesheet">
    <link href="./static/css/dropzone.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

    <!-- Header Area -->
    <header class="main_header_area">
		<nav class="navbar navbar-expand-lg">
			<div class="navbar-brand">
				<a class="logo" href="index.html"><img src="./static/images/logo.png" alt=""></a>
			</div>

			<!-- Left Nav bar -->
			<!-- Right Nav bar -->
			<ul class="right_nav">
				<li><a href="#" class="get_m">Get Started Free</a></li>
				<li><a href="#" class="theme_btn">Sign up</a></li>

			</ul>
		</nav>
    </header>
    <!-- Header Area -->

    <section class="banner_area bdr">
    	<div class="container bdr">

    		<div class="row">

    			<div class="col-lg-12">
            <ul class="progressbar">
                <li class="active">Upload image as zip</li>
                <li class="active">Indentify Back images</li>
                <li>Upload your Excel file</li>
                <li>Indentify Excel fiel</li>
              </ul>
          </div>
        </div>
      </div>
    </section>

    <section>
    	<div class="container">
    		<div class="row">
          <div class="col-lg-12">

            <form method="post" action="/upload.html" enctype="multipart/form-data">
                <p><input type="file" name="input_file" /></p>
                <p><input type="submit" value="Process the file" /></p>
            </form>


            <h2>Please check if oke:</h2>

            <div>
            {% for table in tables %}
               {{titles[loop.index]}}
               {{ table|safe }}
            {% endfor %}
            </div>

            <div>

              {% for item in data %}
                  <li>{{item | safe}}</li>
              {% endfor %}
          </div>

        </div>
      </div>
</div>
</section>


    <section>
    	<div class="container">
    		<div class="row">
          <div class="col-lg-12">
            <div>
              <ul>
                {% for item in data %}
                <li>{{item}}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer Area -->

    <!-- End Footer Area -->

    <!-- Scroll Top Button -->


    <!-- Preloader -->
	<div class="preloader"><img src="./static/images/preloder.png" alt=""></div>

    <!-- jQuery v3.3.1 -->
    <script src="./static/js/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap v4.0.0 -->
    <script src="./static/js/popper.min.js"></script>
    <script src="./static/js/bootstrap.min.js"></script>
    <!-- Extra Plugin -->
    <script src="./static/vendors/animate-css/wow.min.js"></script>
    <script src="./static/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="./static/js/dropzone.js"></script>

    <!-- Theme js / Custom js -->
    <script src="./static/js/theme.js"></script>


</body>
</html>
