<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4-4.1.1/dt-1.10.20/fc-3.3.0/fh-3.1.6/r-2.2.3/rg-1.1.1/rr-1.2.6/datatables.min.css"/>

  <script type="text/javascript" src="https://cdn.datatables.net/v/bs4-4.1.1/dt-1.10.20/fc-3.3.0/fh-3.1.6/r-2.2.3/rg-1.1.1/rr-1.2.6/datatables.min.js"></script>



</head>
        <body>
            <p>Select the file you want to sum up:</p>
            <form method="post" action="." enctype="multipart/form-data">
                <p><input type="file" name="input_file" /></p>
                <p><input type="submit" value="Process the file" /></p>
            </form>

            <h2>Please check if oke:</h2>

            {% for table in tables %}
               {{titles[loop.index]}}
               {{ table|safe }}
            {% endfor %}


            <h2>Please give inputs:</h2>
            <p>GTIN:</p>
            <form class="form-inline" method="POST" action="{{ url_for('test') }}">
            <label for="gtin_in">Choose GTIN:</label>
            <select name="gtin_in"  method="GET" action="/">
                {% for title in titles %}
                <option value="{{title}}" SELECTED>{{title}}</option>
                {% endfor %}
            </select>
            <label for="sku_in">Choose SKU:</label>
            <select name="sku_in"  method="GET" action="/">
                {% for title in titles %}
                <option value="{{title}}" SELECTED>{{title}}</option>
                {% endfor %}
            </select>
            <label for="color_in">Choose COLOR:</label>
            <select name="color_in"  method="GET" action="/">
                {% for title in titles %}
                <option value="{{title}}" SELECTED>{{title}}</option>
                {% endfor %}
            </select>
            <label for="extra_in">Choose EXTRA:</label>
            <select name="extra_in"  method="GET" action="/">
                {% for title in titles %}
                <option value="{{title}}" SELECTED>{{title}}</option>
                {% endfor %}
            </select>

            <button type="submit" name="button">Save</button>
          </form>




        </body>
</html>
